/* 共通 css */
:root {
    --main-bg-color: ;
    --sub-bg-color: ;
    --font-color: #000;
    --border-color: ;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
    font-family: "Helvetica Neue", Arial,  "Hiragino Sans","Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    margin: unset;
}
img {
    display: block;
}
h1, h2, h3, h4, h5, p, ul, li, ol, dl, dd {
    margin: unset;
    padding: unset;
    list-style: none;
}
h2 {
    font-family: Arial;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.7;
    color: #ffff;
}
h3 {
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.7;
    border-bottom: 6px solid #E03131;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 25px;
}
p {
    font-family: Arial;
    font-size: 14.4px;
    line-height: 2;
}
dt, dd {
    font-family: Arial;
    font-size: 14.4px;
    line-height: 1.7;
}
a, a:visited {
    font-family: Arial;
    font-size: 14.5px;
    line-height: 1.7;
    color: var(--font-color);
    text-decoration: none;
}
p.copy {
    font-size: 10px;
    text-align: center;
}
div.container {
    max-width: 1000px;
    padding: 0 16px;
    margin: 0 auto;
}

/* 狭い画面向けの既定の CSS レイアウト値 */
header div.mainvisual {
    background-image: url("https://lh3.googleusercontent.com/d/1DZjVXblm9jVgEcwRpfz4NunNwm15Su93");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div.mainvisual nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 40px;
}
header div.mainvisual nav ul {
    display: flex;
}
header div.mainvisual nav ul li:not(:last-of-type) {
    margin-right: 30px;
}
header div.mainvisual nav ul li a,
header div.mainvisual nav ul li a:visited {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px #00000094;
}
header div.mainvisual nav ul li a:hover {
    color: #E03131;
    transition: color 0.5s ease;
}
header div.mainvisual h1  {
    padding: 0 16px;
}
header div.mainvisual h1 img.logo {
    width: 100%;
}
section div.main_section_bg {
    height: 94px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#MENU {
    margin-top: 10px;
}
section#MENU div.main_section_bg {
    background-image: url("https://lh3.googleusercontent.com/d/1lyt53yuz0zt5AXp5XG0a02lIPpU6UG1V");
}
section#MENU div.container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
}
section#MENU dl {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
section#MENU dl:not(:last-of-type) {
    margin-bottom: 25px;
}
section#MENU dt {
    border-bottom: 1px dotted #000;
    width: 100%;
    margin-right: 12px;
}
section#ABOUT {
    margin-top: 115px;
}
section#ABOUT div.main_section_bg {
    background-image: url("https://lh3.googleusercontent.com/d/1xOnMI41ecoKbj2TR8tgt2Duodjp_T-6-");
}
section#ABOUT div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#ABOUT h3 {
    margin-bottom: 35px;
}
section#ABOUT p {
    margin-bottom: 20px;
}
section#ABOUT div.texts {
    margin-bottom: 30px;
}
section#ABOUT div.button_layout {
    position: relative;
}
section#ABOUT div.button_layout::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 32px;
    background-color: #E03131;
}
section#ABOUT div.button_layout::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1px;
    height: 32px;
    background-color: #E03131;
}
section#ABOUT a.button {
    padding: 16.5px 44px;
    position: relative;
    display: inline-block;
}
section#ABOUT a.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 1px;
    background-color: #E03131;
}
section#ABOUT a.button::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 1px;
    background-color: #E03131;
}
section#LOCATION {
    margin-top: 80px;
}
section#LOCATION div.main_section_bg {
    background-image: url("https://lh3.googleusercontent.com/d/1ywwEacLTs9WTxEHifr1bHa-nFvWpfzfN");
}
section#LOCATION div.container {
    display: flex;
    flex-direction: column;
}
section#LOCATION h3 {
    align-self: center;
}
section#LOCATION iframe.map {
    height: 407px;
    margin-bottom: 20px;
}
section#LOCATION p {
    margin-bottom: 10px;
}
footer p.copy {
    margin-top: 70px;
    margin-bottom: 10px;
}


@media (min-width: 800px) {
  /* 広い画面向けの CSS */
h3 {
    font-size: 40px;
}
section div.main_section_bg {
    height: 300px;
    background-attachment: fixed;
}
section#MENU {
    margin-top: 20px;
}
section#MENU div.container {
    display: flex;
    margin-top: 90px;
    margin-bottom: 170px;
}
section#MENU div.container > div:first-of-type {
    border-right: 1px solid #000;
    padding-right: 45px;
}
section#MENU div.container > div:last-of-type {
    padding-left: 45px;
}
section#MENU h3 {
    margin-top: unset;
}
section#MENU h3:last-of-type {
    margin-top: 80px;
}
section#ABOUT h3 {
    margin: 90px 0;
}
section#ABOUT div.texts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin-bottom: 60px;
}
section#ABOUT p {
    margin-bottom: 20px;
}
section#LOCATION {
    margin-top: 170px;
}
section#LOCATION h3 {
    margin-top: 90px;
    margin-bottom: 70px;
}
section#LOCATION iframe.map {
    height: 400px;
}
footer p.copy {
    margin-top: 170px;
}
}
